<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>DBアクセス</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" >
	<link th:href="@{/css/common.css}" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>DBアクセス</h1>
	<div id="access">
		<div>
			<a href="/insert" >データ登録（顧客名簿:CUSTOMER）</a>
		</div>
		
		<div>
			<a href="/all" >データ一覧（顧客名簿:CUSTOMER）</a>
		</div>
		
		<div>
			<a href="/insertEmployee">データ登録（社員名簿:EMPLOYEE）</a>
		</div>
		
		<div>
			<a href="/allEmployee" >データ一覧（社員名簿:EMPLOYEE）</a>
		</div>
		
		<div>
			<a href="/insertDepartment">データ登録（部署名簿:DEPARTMENT）</a>
		</div>
		
		<div>
			<a href="/allDepartment">データ一覧（部署名簿:DEPARTMENT）</a>
		</div>
		
	</div>
</body>
</html>